<div style="display: grid; place-items: center">
  <!-- create a login form with email and password -->

  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    style="display: flex; flex-direction: column"
  >
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
      type="submit"
    >
      Login
    </button>
  </form>
</div>
